<h1>Please list puppy information</h1>


<form method="POST" action="/puppy" >

  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" id="name" name="name">

  <label for="POST-breed">Breed:</label>
  <input id="POST-breed" type="text" id="breed" name="breed">

  <label for="POST-age">Name:</label>
  <input id="POST-age" type="text" id="age" name="age">

  <input type="submit" value="submit">

</form>
